<!--
  Generated template for the ShowDevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            {{device.name}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-card text-center>
                    <h1 ion-text margin-vertical>ID: {{device.id}}</h1>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card text-center [color]="device.battery <= 10 ? 'danger' : ''">
                    <h1 ion-text margin-vertical><ion-icon [name]="device.battery <= 10 ? 'battery-dead' : 'battery-full'"></ion-icon> {{device.battery}}%</h1>
                </ion-card>
            </ion-col>
            <ion-col col-12>
                <ion-card text-center>
                    <h1 ion-text margin-vertical>Type: <b>{{device.type.charAt(0).toUpperCase() + device.type.slice(1)}}</b></h1>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card text-center>
                    <h1 ion-text margin-vertical><b>{{device.value}}</b></h1>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card text-center>
                    <h1 ion-text margin-vertical>{{device.unit}}</h1>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row margin-top class="row-button">
            <ion-col col-4 offset-1>
                <button ion-button round block color="secondary" (click)="turnOn()">turn on</button>
            </ion-col>
            <ion-col col-4 offset-2>
                <button ion-button round block color="danger" (click)="turnOff()">turn off</button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
