<!--
  Generated template for the CalcMetricsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Calculated Metrics</ion-title>
    </ion-navbar>


</ion-header>


<ion-content padding>

    <ion-card *ngFor="let c of calcMetrics">
        <ion-card-content>
            <p>date: {{c.date}}</p>
            <p>device id: {{c.deviceid}}</p>
            <p>calc metrics id: {{c.id}}</p>
            <p>{{c.value}} {{c.unit == 'celcius' ? '°C' : c.unit}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>
