<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <button margin-bottom ion-button round block (click)="login()">Login</button>
    <button ion-button round block (click)="register()">Register</button>

</ion-content>
