<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="smaller-title">{{userToken}} 065b5e91-8d36-4f87-9c8f-bfa9fbf200ba</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card margin-bottom *ngFor="let d of devices" (click)="showDevice(d)">
        <ion-grid>
            <ion-row>
                <ion-col text-center col-2>
                    <h1 margin-vertical><ion-icon [class.small-icon]="d.type == 'hygrometry'" [name]="d.type == 'temperature' ? 'thermometer' : 'ios-water'"></ion-icon></h1>
                </ion-col>
                <ion-col col-7>
                    <h1 margin-vertical>{{d.name}}</h1>
                </ion-col>
                <ion-col col-3>
                    <h2 ion-text margin-vertical [color]="d.battery <= 10 ? 'danger' : ''"><ion-icon name="battery-full"></ion-icon> {{d.battery}}%</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
