<ion-menu [content]="content">
    
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
            <ion-buttons start>
                <button ion-button icon-only menuClose>
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}"></ion-icon>&nbsp;&nbsp; {{p.title}}
            </button>
            <ion-item-divider color="light"></ion-item-divider>
            <button menuClose ion-item (click)="logout()">
                <ion-icon name="ios-log-out" class="logout-btn"></ion-icon>&nbsp;&nbsp; Log out
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
